<div class="content"
         id="content">
        <h1>{{ title }}</h1>
        <div class="box">
            <p>Thank you for stopping on by! I decided after a few years of doing things the hard way and a lot of
                learning along the way, that I needed a break from the complexity of Libraries and Frameworks. I wanted
                to build a website that was simple, easy and fun.</p>
            <p>In all parts of life, I'd rather use a bolt than a nail. It is more sturdy, simple, and can be taken back
                apart without breaking what you are working on.</p>

            <p>Aliquip aliqua consectetur aliqua est ea. Elit ad aliqua commodo deserunt. Dolor pariatur ullamco
                consectetur sint. Nostrud esse pariatur enim commodo magna excepteur. Eu ad amet nostrud et Lorem dolore
                dolor culpa adipisicing dolore do pariatur amet. Eu nisi sint excepteur in.
            </p>
            <p>
                Occaecat aliqua dolor duis do ut ex consectetur eiusmod. Sunt tempor officia fugiat consectetur quis et
                occaecat sint qui nulla culpa ut proident. Mollit ipsum ipsum et nisi dolore in culpa est dolore sit est
                do. Id laborum et pariatur ea laborum proident qui est occaecat voluptate voluptate.
            </p>
            <p>
                Mollit dolore est et in laborum deserunt cupidatat. Aliquip est ullamco id quis adipisicing eiusmod
                magna ad duis nisi cupidatat duis aute. Eu deserunt laborum incididunt enim non. Occaecat est qui do
                laboris. Veniam non cillum dolor velit sint incididunt id sint excepteur sit ut minim elit.
            </p>
            <p>
                Anim voluptate id veniam tempor magna tempor eu. Do fugiat dolor elit mollit labore incididunt dolor
                cillum ut tempor duis occaecat culpa. Esse et ad irure irure aliquip elit veniam dolor nulla sit non
                duis. Ea officia officia magna sint reprehenderit anim do est deserunt nisi. Qui in consectetur mollit
                qui duis eiusmod.</p>
            <p>Aliquip aliqua consectetur aliqua est ea. Elit ad aliqua commodo deserunt. Dolor pariatur ullamco
                consectetur sint. Nostrud esse pariatur enim commodo magna excepteur. Eu ad amet nostrud et Lorem dolore
                dolor culpa adipisicing dolore do pariatur amet. Eu nisi sint excepteur in.
            </p>
            <p>
                Occaecat aliqua dolor duis do ut ex consectetur eiusmod. Sunt tempor officia fugiat consectetur quis et
                occaecat sint qui nulla culpa ut proident. Mollit ipsum ipsum et nisi dolore in culpa est dolore sit est
                do. Id laborum et pariatur ea laborum proident qui est occaecat voluptate voluptate.
            </p>
            <p>
                Mollit dolore est et in laborum deserunt cupidatat. Aliquip est ullamco id quis adipisicing eiusmod
                magna ad duis nisi cupidatat duis aute. Eu deserunt laborum incididunt enim non. Occaecat est qui do
                laboris. Veniam non cillum dolor velit sint incididunt id sint excepteur sit ut minim elit.
            </p>
            <p>
                Anim voluptate id veniam tempor magna tempor eu. Do fugiat dolor elit mollit labore incididunt dolor
                cillum ut tempor duis occaecat culpa. Esse et ad irure irure aliquip elit veniam dolor nulla sit non
                duis. Ea officia officia magna sint reprehenderit anim do est deserunt nisi. Qui in consectetur mollit
                qui duis eiusmod.</p>
            <p>Aliquip aliqua consectetur aliqua est ea. Elit ad aliqua commodo deserunt. Dolor pariatur ullamco
                consectetur sint. Nostrud esse pariatur enim commodo magna excepteur. Eu ad amet nostrud et Lorem dolore
                dolor culpa adipisicing dolore do pariatur amet. Eu nisi sint excepteur in.
            </p>
            <p>
                Occaecat aliqua dolor duis do ut ex consectetur eiusmod. Sunt tempor officia fugiat consectetur quis et
                occaecat sint qui nulla culpa ut proident. Mollit ipsum ipsum et nisi dolore in culpa est dolore sit est
                do. Id laborum et pariatur ea laborum proident qui est occaecat voluptate voluptate.
            </p>
            <p>
                Mollit dolore est et in laborum deserunt cupidatat. Aliquip est ullamco id quis adipisicing eiusmod
                magna ad duis nisi cupidatat duis aute. Eu deserunt laborum incididunt enim non. Occaecat est qui do
                laboris. Veniam non cillum dolor velit sint incididunt id sint excepteur sit ut minim elit.
            </p>
            <p>
                Anim voluptate id veniam tempor magna tempor eu. Do fugiat dolor elit mollit labore incididunt dolor
                cillum ut tempor duis occaecat culpa. Esse et ad irure irure aliquip elit veniam dolor nulla sit non
                duis. Ea officia officia magna sint reprehenderit anim do est deserunt nisi. Qui in consectetur mollit
                qui duis eiusmod.</p>
            <p>Aliquip aliqua consectetur aliqua est ea. Elit ad aliqua commodo deserunt. Dolor pariatur ullamco
                consectetur sint. Nostrud esse pariatur enim commodo magna excepteur. Eu ad amet nostrud et Lorem dolore
                dolor culpa adipisicing dolore do pariatur amet. Eu nisi sint excepteur in.
            </p>
            <p>
                Occaecat aliqua dolor duis do ut ex consectetur eiusmod. Sunt tempor officia fugiat consectetur quis et
                occaecat sint qui nulla culpa ut proident. Mollit ipsum ipsum et nisi dolore in culpa est dolore sit est
                do. Id laborum et pariatur ea laborum proident qui est occaecat voluptate voluptate.
            </p>
            <p>
                Mollit dolore est et in laborum deserunt cupidatat. Aliquip est ullamco id quis adipisicing eiusmod
                magna ad duis nisi cupidatat duis aute. Eu deserunt laborum incididunt enim non. Occaecat est qui do
                laboris. Veniam non cillum dolor velit sint incididunt id sint excepteur sit ut minim elit.
            </p>
            <p>
                Anim voluptate id veniam tempor magna tempor eu. Do fugiat dolor elit mollit labore incididunt dolor
                cillum ut tempor duis occaecat culpa. Esse et ad irure irure aliquip elit veniam dolor nulla sit non
                duis. Ea officia officia magna sint reprehenderit anim do est deserunt nisi. Qui in consectetur mollit
                qui duis eiusmod.</p>
            <p>Aliquip aliqua consectetur aliqua est ea. Elit ad aliqua commodo deserunt. Dolor pariatur ullamco
                consectetur sint. Nostrud esse pariatur enim commodo magna excepteur. Eu ad amet nostrud et Lorem dolore
                dolor culpa adipisicing dolore do pariatur amet. Eu nisi sint excepteur in.
            </p>
            <p>
                Occaecat aliqua dolor duis do ut ex consectetur eiusmod. Sunt tempor officia fugiat consectetur quis et
                occaecat sint qui nulla culpa ut proident. Mollit ipsum ipsum et nisi dolore in culpa est dolore sit est
                do. Id laborum et pariatur ea laborum proident qui est occaecat voluptate voluptate.
            </p>
            <p>
                Mollit dolore est et in laborum deserunt cupidatat. Aliquip est ullamco id quis adipisicing eiusmod
                magna ad duis nisi cupidatat duis aute. Eu deserunt laborum incididunt enim non. Occaecat est qui do
                laboris. Veniam non cillum dolor velit sint incididunt id sint excepteur sit ut minim elit.
            </p>
            <p>
                Anim voluptate id veniam tempor magna tempor eu. Do fugiat dolor elit mollit labore incididunt dolor
                cillum ut tempor duis occaecat culpa. Esse et ad irure irure aliquip elit veniam dolor nulla sit non
                duis. Ea officia officia magna sint reprehenderit anim do est deserunt nisi. Qui in consectetur mollit
                qui duis eiusmod.</p>
        </div>
        <div class="box">
            <div class="foot">

            </div>
        </div>
    </div>